# ------------------------------
# makelove
# ------------------------------
builds/
makelove-build/
venv/
.venv/

# ------------------------------
# OS / system junk
# ------------------------------
.DS_Store
Thumbs.db
desktop.ini

# ------------------------------
# Editor / IDE files
# ------------------------------
.vscode/
.idea/
*.swp
*.swo
*~
*.bak
.VSCodeCounter/

# ------------------------------
# LÖVE specific
# ------------------------------
*.love
save/
*.log

# ------------------------------
# Lua
# ------------------------------
luac.out

# ------------------------------
# Build / export folders
# ------------------------------
dist/
build/
bin/
release/

# ------------------------------
# Temporary / cache
# ------------------------------
tmp/
cache/
*.tmp

# ------------------------------
# Third-party libs
# ------------------------------
libs/
vendor/
